
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color:#eeeeee;
  border-bottom: 1px solid #e0e0e0;
  font-family: Arial, sans-serif;
}


.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 30px;
  margin-right: 8px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}


.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-link {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.navbar-link:hover {
  color: #007bff;
}


.navbar-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}


.post-job-button {
  background-color:black;
  color: #ffffff;
  padding: 8px 15px;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-job-button:hover {
  background-color: black;
}


.action-link {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.action-link:hover {
  color:black;
}